<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ languageService.getText('Options') }} | {{ roulette?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ng-container *ngFor="let option of optionsList; index as idx">
      <ion-item>
        <ion-label>
          <ion-chip 
            [style.backgroundColor]="getColorStr(option.color)"
            style="border: 1px solid white;"
          >
          </ion-chip>
          {{ option.title }}
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>