<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ languageService.getText('Configuration') }} | {{ roulette?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      {{ languageService.getText('Adjust Period Time') }}
    </ion-list-header>
    <ion-item>
      <ion-range #periodTime [color]="'primary'"
        dual-knobs 
        pin 
        (ionChange)="periodTimeChange($event)"
        color="dark" 
        step="1">
        <span slot="start">{{ minValue }}</span>
        <span slot="end">{{ maxValue }}</span>
        <!-- <ion-icon slot="start" size="small" name="time"></ion-icon>
        <ion-icon slot="end" name="time"></ion-icon> -->
      </ion-range>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>{{ languageService.getText('Use Interleaved Colors') }} ?</ion-label>
    <ion-toggle #useInterleavedColorsEl [checked]="useInterleavedColors" (ionChange)="useInterleavedColorsChange($event)" color="primary"></ion-toggle>
  </ion-item>
  <ion-list>
    <ion-list-header>
      {{ languageService.getText('Select Interleaved Color') }}1 &nbsp;
      <div class="box" [style.backgroundColor]="interleavedColor1Value" [style.borderRadius]="'5px'" name="color-palette-outline"></div>
    </ion-list-header>
    <ion-item>
      <app-color-picker #interleavedColor1 (selectedColor)="selectedInterleavedColor1($event)"></app-color-picker>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      {{ languageService.getText('Select Interleaved Color') }}2 &nbsp;
      <div class="box" [style.backgroundColor]="interleavedColor2Value" [style.borderRadius]="'5px'" name="color-palette-outline"></div>
    </ion-list-header>
    <ion-item>
      <app-color-picker #interleavedColor2 (selectedColor)="selectedInterleavedColor2($event)"></app-color-picker>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      {{ languageService.getText('Select Arc Color') }} &nbsp;
      <div class="box" [style.backgroundColor]="arcColorValueStr" [style.borderRadius]="'5px'" name="color-palette-outline"></div>
    </ion-list-header>
    <ion-item>
      <app-color-picker #arcColor (selectedColor)="selectedArcColorValue($event)"></app-color-picker>
    </ion-item>
  </ion-list>
</ion-content>