<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="play()" [disabled]="!id.value || form.invalid">
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="save()" [disabled]="form.invalid">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">{{ languageService.getText('Title') }}</ion-label>
      <ion-input [placeholder]="languageService.getText('Title')" formControlName="title"></ion-input>
    </ion-item>
    <ion-chip *ngIf="title.errors?.maxlength" color="primary" [outline]="true">
      <ion-label>
        {{ languageService.getText('Max title length is') }} {{ title.errors?.maxlength?.requiredLength }}
      </ion-label>
    </ion-chip>
    <ion-list-header>
      <ion-label>
        {{ languageService.getText('Options') }}
      </ion-label>
      <ion-buttons>
        <ion-button (click)="addOption()" [disabled]="!id.value">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="toggleReorder()">
          <ion-icon name="reorder-two-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-list-header>
    <ion-list #mainList>
      <ion-reorder-group (ionItemReorder)="doReorder($event)">
        <ng-container *ngFor="let option of options.controls; index as idx">
          <ng-container *ngIf="option">
            <ion-item-sliding>
              <ion-item-options side="start">
                <ion-item-option class="act_del" expandable (click)="delOption(option.value, idx)">
                  <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>
          
              <ion-item>
                <ion-label>
                  <ion-chip 
                    [style.backgroundColor]="getOptionColor(option.value)"
                    style="border: 1px solid white;"
                  >
                  </ion-chip>
                  {{ option.value.title }}
                </ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option class="act_edit" expandable (click)="editOption(option.value, idx)">
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ng-container>
        </ng-container>
      </ion-reorder-group>
    </ion-list>
  </ng-container>
</ion-content>
