<ion-header>
  <ion-toolbar>
    <ion-title>{{ languageService.getText('Configuration') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        {{ languageService.getText('Toggle Dark Theme') }}
      </ion-label>
      <ion-toggle #toggleTheme id="toggleTheme" (ionChange)="toggleThemeChange($event)" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
