<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ compTitle }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="save()" [disabled]="form.invalid">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">{{ languageService.getText('Option title') }}</ion-label>
      <ion-input [placeholder]="languageService.getText('Option title')" formControlName="title"></ion-input>
    </ion-item>
    <ion-chip *ngIf="title.errors?.maxlength" color="primary" [outline]="true">
      <ion-label>
        {{ languageService.getText('Max option title length is') }} {{ title.errors?.maxlength?.requiredLength }}
      </ion-label>
    </ion-chip>
    <ion-item>
      <ion-label class="iflex">
        {{ languageService.getText('Pick a color') }}: 
        <div [style.backgroundColor]="selectedColorStr" [style.borderRadius]="'5px'" style="width: 30px; height: 30px;"></div>
      </ion-label>
    </ion-item>
    <ion-item>
      <app-color-picker #optionColor (selectedColor)="selectedOptionColor($event)"></app-color-picker>
    </ion-item>
  </ng-container>

</ion-content>