<ion-header>
  <ion-toolbar>
    <ion-title>{{ languageService.getText('Roulettes') }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="toggleReorder()">
        <ion-icon name="reorder-two-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #mainList>
    <ion-reorder-group (ionItemReorder)="doReorder($event)">
      <ng-container  *ngFor="let item of list; index as idx">
        <ion-item-sliding>
          <ion-item-options side="start">
            <ion-item-option class="act_del" expandable (click)="delete(item)">
              <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      
          <ion-item>
            <ion-icon (click)="playRoulette(item)" 
              name="play-circle-outline" 
              class="play-roulette"></ion-icon>&nbsp;
            <ion-label>
              {{ item.title }}
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option class="act_edit" expandable (click)="edit(item)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>
    </ion-reorder-group>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()" class="fab-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
