<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ compTitle }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="view()">
        <ion-icon name="open-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="period-time-details">
    <div style="display: flex; align-items: end;">
      <ion-icon name="time-outline"></ion-icon>&nbsp;{{rangeIntervalTime.lower}} - {{rangeIntervalTime.upper}}
    </div>
    <div>{{ rounded2(spinTimeTotal / 1000) }} {{ languageService.getText('sec') }}</div>
    <div>{{ rounded2(spinTime / 1000) }} {{ languageService.getText('sec') }}</div>
  </div>
  <ion-fab horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cog-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="primary" (click)="viewItems()">
        <ion-icon name="options-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="changeConfig()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" color="primary">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="centeredRoulette = !centeredRoulette">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="fillFrameRoulette = !fillFrameRoulette">
        <ion-icon name="scan-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <app-draw-roulette 
    [roulette]="roulette" 
    [showSpinButton]="false" 
    [heightAuto]="true" 
    [rangeIntervalTime]="rangeIntervalTime"
    [interleavedColors]="interleavedColors"
    [useInterleavedColors]="useInterleavedColors"
    [arcColor]="arcColor"
    [fillFrame]="fillFrameRoulette"
    [centered]="centeredRoulette"
    (spinTimeChange)="spinTimeChange($event)"
    (spinTimeTotalChange)="spinTimeTotalChange($event)"
    ></app-draw-roulette>
</ion-content>
