app-draw-roulette{
    position: relative;
    width: 100%;
    height: 100%;
}
.period-time-details{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 3px 5px;
}