/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* .toolbar{
    //--background: #167378;
    --background: var(--custom-color1);
    --color: white;
}
.toolbar-button{
    --color: white;
}
.fab-button{
    //--background: #167378;
    --background: var(--custom-color1);
    --color: white;
}
.bg1{
    --background: var(--custom-color2);
    ion-input{
        --background: var(--custom-color2);
        --color: white;
    }
    ion-item{
        --background: var(--custom-color2);
        ion-label{
            --color: white !important;
            p{
                --color: white !important;
                color: white !important;
            }
        }
        &.item-has-focus{
            ion-label{
                color: rgb(187, 187, 187) !important;
                --color: rgb(187, 187, 187) !important;
            }
        }
    }
    ion-list-header{
        --color: white;
    }
    ion-note, ion-chip{
        --color: white;
    }
    ion-icon{
        &.play-roulette{
            --color: white !important;
            color: white !important;
        }
    }
}
.bg_list1{
    background: var(--custom-color2);
    .item{
        --background: var(--custom-color1);
        color: white;
    }
    .act_edit{
        background: var(--custom-color3);
    }
    .act_del{
        background: var(--custom-color4);
    }
}
.alert-delete, .alert-save{
    .alert-wrapper {
        background: var(--custom-color2);
        color: white;
        .alert-title, .alert-message, .alert-button{
            color: white;
        }
    }
}
.drawer-content{
    background: var(--custom-color2);
}
ion-split-pane{ 
    --border: none !important;
    ion-menu{
        ion-list{
            background: transparent !important;
        }
        --background: var(--custom-color2) !important; 
        ion-content{            
            --background: var(--custom-color2) !important; 
            ion-list-header{ 
                --background: var(--custom-color2) !important;
                --color: #FFFFFF !important;   
            }
            ion-item{
                --background: var(--custom-color2) !important;
                --color: #FFFFFF !important;
                 ion-icon{ 
                    padding-right: 10px !important;
                    color: white !important; 
                }
            }
        }
    }
} */
.iflex{
    display: flex !important;
    align-items: center;
}
ion-label{
    &.label-stacked{
        z-index: 5;
    }
}
/*
.drawer-content{
    ion-list{
        background-color: transparent !important;
    }
    &::part(background){
        background: rgb(117,91,30);
        background: linear-gradient(0deg, rgba(117,91,30,1) 0%, rgba(255,239,97,1) 100%);
    }
}
*/